html{
	background-image: url('images/background.jpg');
	background: repeat-x repeat-y;
}

body{
	width: 80%;
	margin: auto;
}

h1{
	font-size: 175%;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px gray;
	text-decoration: overline;
}
	
#bio{
	text-align: center;
	color: black;
}
	
#project{
    position: fixed;
    top: 220px;
    left: 290px;
	color: black;
}

#screen{
    position: fixed;
    right: 30px;
    top: 220px;
}

#footer{
	width: 80%;
	background-image: url('images/footer.jpg');
	background-repeat: repeat-x;
    text: center;
	position: fixed;
	bottom: 5px;
	color: black;
}


