html{
	background-image: url('images/retina_wood.png');
	background: repeat-x repeat-y;
	width: 80%;
	margin: auto;
}

p{
	font-family: "comic sans ms", Georgia, serif;
}

h1{
	font-weight: bold;
	text-decoration: overline;
	text-shadow: 2px 2px white;
}

#bio{
	position: relative;
	text-align: center;
}

#social{
	position: absolute;
	right: 180px;
	top: 400px;
}

#projects{
	position: absolute;
	left: 180px;
	top: 300px;
}

#footer{
	background-image: url('images/footer.jpg');
	background-repeat: repeat-x;
	background-size: 2px;
	position: relative;
	text-align: center;
	top: 470px;
}
